body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1603px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4577 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:360px;
  width:340px;
  height:50px;
}
#u4578 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:336px;
  word-wrap:break-word;
}
#u4579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:752px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4579 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:360px;
  width:752px;
  height:50px;
}
#u4580 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:748px;
  word-wrap:break-word;
}
#u4581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4581 {
  border-width:0px;
  position:absolute;
  left:1139px;
  top:360px;
  width:451px;
  height:50px;
}
#u4582 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:447px;
  word-wrap:break-word;
}
#u4583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4583 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:99px;
  width:100px;
  height:81px;
}
#u4584 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u4585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4585 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:99px;
  width:221px;
  height:81px;
}
#u4586 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:217px;
  word-wrap:break-word;
}
#u4587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4587 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:99px;
  width:121px;
  height:81px;
}
#u4588 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4589 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:99px;
  width:171px;
  height:81px;
}
#u4590 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:167px;
  word-wrap:break-word;
}
#u4591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4591 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:99px;
  width:301px;
  height:81px;
}
#u4592 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:297px;
  word-wrap:break-word;
}
#u4593_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4593 {
  border-width:0px;
  position:absolute;
  left:959px;
  top:99px;
  width:91px;
  height:81px;
}
#u4594 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:87px;
  word-wrap:break-word;
}
#u4595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4595 {
  border-width:0px;
  position:absolute;
  left:1049px;
  top:99px;
  width:91px;
  height:81px;
}
#u4596 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:87px;
  word-wrap:break-word;
}
#u4597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4597 {
  border-width:0px;
  position:absolute;
  left:1139px;
  top:99px;
  width:451px;
  height:81px;
}
#u4598 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:447px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4599 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:120px;
  width:70px;
  height:40px;
}
#u4600 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
#u4601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4601 {
  border-width:0px;
  position:absolute;
  left:1230px;
  top:120px;
  width:70px;
  height:40px;
}
#u4602 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
#u4603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4603 {
  border-width:0px;
  position:absolute;
  left:1310px;
  top:120px;
  width:70px;
  height:40px;
}
#u4604 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
#u4605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4605 {
  border-width:0px;
  position:absolute;
  left:1390px;
  top:120px;
  width:100px;
  height:40px;
}
#u4606 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u4607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4607 {
  border-width:0px;
  position:absolute;
  left:1500px;
  top:120px;
  width:80px;
  height:40px;
}
#u4608 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u4609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4609 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:300px;
  width:70px;
  height:40px;
}
#u4610 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
#u4611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4611 {
  border-width:0px;
  position:absolute;
  left:1430px;
  top:300px;
  width:160px;
  height:40px;
}
#u4612 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u4613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1540px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4613 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:409px;
  width:1540px;
  height:61px;
}
#u4614 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:1536px;
  word-wrap:break-word;
}
#u4615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4615 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:100px;
  height:50px;
}
#u4616 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u4617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4617 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:50px;
  width:221px;
  height:50px;
}
#u4618 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:217px;
  word-wrap:break-word;
}
#u4619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4619 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:50px;
  width:121px;
  height:50px;
}
#u4620 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:117px;
  word-wrap:break-word;
}
#u4621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4621 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:50px;
  width:171px;
  height:50px;
}
#u4622 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:167px;
  word-wrap:break-word;
}
#u4623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4623 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:50px;
  width:301px;
  height:50px;
}
#u4624 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:297px;
  word-wrap:break-word;
}
#u4625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4625 {
  border-width:0px;
  position:absolute;
  left:959px;
  top:50px;
  width:91px;
  height:50px;
}
#u4626 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:87px;
  word-wrap:break-word;
}
#u4627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4627 {
  border-width:0px;
  position:absolute;
  left:1049px;
  top:50px;
  width:91px;
  height:50px;
}
#u4628 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:87px;
  word-wrap:break-word;
}
#u4629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4629 {
  border-width:0px;
  position:absolute;
  left:1139px;
  top:50px;
  width:451px;
  height:50px;
}
#u4630 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:447px;
  word-wrap:break-word;
}
#u4631 {
  border-width:0px;
  position:absolute;
  left:1440px;
  top:160px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u4631_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:104px;
}
#u4631_seg1 {
  border-width:0px;
  position:absolute;
  left:-624px;
  top:96px;
  width:628px;
  height:8px;
}
#u4631_seg2 {
  border-width:0px;
  position:absolute;
  left:-624px;
  top:96px;
  width:8px;
  height:104px;
}
#u4631_seg3 {
  border-width:0px;
  position:absolute;
  left:-630px;
  top:185px;
  width:20px;
  height:20px;
}
#u4632 {
  border-width:0px;
  position:absolute;
  left:-360px;
  top:92px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4633 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:590px;
  width:70px;
  height:40px;
}
#u4634 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
#u4635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4635 {
  border-width:0px;
  position:absolute;
  left:1510px;
  top:590px;
  width:80px;
  height:40px;
}
#u4636 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u4637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1540px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4637 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:650px;
  width:1540px;
  height:50px;
}
#u4638 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:1536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4639 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:667px;
  width:42px;
  height:20px;
}
#u4640 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u4641 {
  border-width:0px;
  position:absolute;
  left:1450px;
  top:663px;
  width:130px;
  height:25px;
}
#u4641_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1540px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4642 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:699px;
  width:1540px;
  height:50px;
}
#u4643 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:1536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4644 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:716px;
  width:57px;
  height:20px;
}
#u4645 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4646 {
  border-width:0px;
  position:absolute;
  left:1450px;
  top:713px;
  width:130px;
  height:22px;
}
#u4646_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4646_input:disabled {
  color:grayText;
}
#u4647 {
  border-width:0px;
  position:absolute;
  left:1590px;
  top:320px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u4647_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:14px;
  height:8px;
}
#u4647_seg1 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-4px;
  width:8px;
  height:238px;
}
#u4647_seg2 {
  border-width:0px;
  position:absolute;
  left:-774px;
  top:226px;
  width:788px;
  height:8px;
}
#u4647_seg3 {
  border-width:0px;
  position:absolute;
  left:-774px;
  top:226px;
  width:8px;
  height:104px;
}
#u4647_seg4 {
  border-width:0px;
  position:absolute;
  left:-780px;
  top:315px;
  width:20px;
  height:20px;
}
#u4648 {
  border-width:0px;
  position:absolute;
  left:-360px;
  top:222px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
