body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1930px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:738px;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:1555px;
  top:200px;
  width:375px;
  height:738px;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:361px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:781px;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:219px;
  width:375px;
  height:781px;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:382px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:781px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:209px;
  width:375px;
  height:781px;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:382px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:781px;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:200px;
  width:375px;
  height:781px;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:382px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:128px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:912px;
  width:191px;
  height:128px;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:187px;
  word-wrap:break-word;
}
#u897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:76px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:908px;
  width:191px;
  height:76px;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:187px;
  word-wrap:break-word;
}
#u899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:55px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:1130px;
  top:934px;
  width:191px;
  height:55px;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:187px;
  word-wrap:break-word;
}
#u901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:43px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:1613px;
  top:880px;
  width:191px;
  height:43px;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:187px;
  word-wrap:break-word;
}
#u903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:92px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:471px;
  width:93px;
  height:92px;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:89px;
  word-wrap:break-word;
}
#u905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:92px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:1412px;
  top:493px;
  width:33px;
  height:92px;
  font-size:9px;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:29px;
  word-wrap:break-word;
}
#u907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:92px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:493px;
  width:60px;
  height:92px;
  font-size:9px;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:56px;
  word-wrap:break-word;
}
