body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:4017px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3917px;
  height:3656px;
}
#u1468 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:3917px;
  height:3656px;
}
#u1469 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1820px;
  width:3913px;
  visibility:hidden;
  word-wrap:break-word;
}
