body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1535px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:70px;
  width:375px;
  height:667px;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:239px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:70px;
  width:375px;
  height:239px;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:112px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:220px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:110px;
  width:340px;
  height:220px;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:102px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:340px;
  width:375px;
  height:50px;
  text-align:left;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:358px;
  word-wrap:break-word;
}
#u922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u922 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:389px;
  width:375px;
  height:101px;
}
#u923 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:371px;
  word-wrap:break-word;
}
#u924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u924 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:500px;
  width:375px;
  height:50px;
  text-align:left;
}
#u925 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:358px;
  word-wrap:break-word;
}
#u926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:41px;
}
#u926 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:290px;
  width:85px;
  height:40px;
}
#u927 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:41px;
}
#u928 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:290px;
  width:85px;
  height:40px;
}
#u929 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:41px;
}
#u930 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:290px;
  width:85px;
  height:40px;
}
#u931 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:41px;
}
#u932 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:290px;
  width:85px;
  height:40px;
}
#u933 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u934_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u934 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:549px;
  width:375px;
  height:50px;
  text-align:left;
}
#u935 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:358px;
  word-wrap:break-word;
}
#u936_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u936 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:70px;
  width:375px;
  height:667px;
}
#u937 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u938_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u938 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:70px;
  width:375px;
  height:210px;
}
#u939 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:97px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u940_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u940 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:279px;
  width:375px;
  height:51px;
}
#u941 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u942_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u942 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:297px;
  width:29px;
  height:16px;
}
#u943 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u944_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u944 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:297px;
  width:29px;
  height:16px;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:130px;
  width:61px;
  height:61px;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u948_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:140px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:172px;
  width:29px;
  height:16px;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:41px;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:225px;
  width:30px;
  height:40px;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:41px;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:225px;
  width:30px;
  height:40px;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:45px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:225px;
  width:90px;
  height:40px;
  color:#0099FF;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:220px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u958_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:111px;
  height:8px;
}
#u958_seg1 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:-4px;
  width:8px;
  height:192px;
}
#u958_seg2 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:180px;
  width:84px;
  height:8px;
}
#u958_seg3 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:174px;
  width:20px;
  height:20px;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:70px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:1160px;
  top:70px;
  width:375px;
  height:667px;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:1160px;
  top:70px;
  width:375px;
  height:50px;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  word-wrap:break-word;
}
#u964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:67px;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:1314px;
  top:163px;
  width:67px;
  height:67px;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:1198px;
  top:520px;
  width:300px;
  height:40px;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:1198px;
  top:290px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:1198px;
  top:319px;
  width:300px;
  height:41px;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:1198px;
  top:319px;
  width:300px;
  height:33px;
}
#u972_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:1198px;
  top:370px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:1198px;
  top:399px;
  width:300px;
  height:41px;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:1198px;
  top:399px;
  width:300px;
  height:33px;
}
#u977_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:1198px;
  top:457px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:1266px;
  top:460px;
  width:100px;
  height:16px;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u980_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:1398px;
  top:460px;
  width:100px;
  height:16px;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u982_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:1441px;
  top:373px;
  width:59px;
  height:16px;
  color:#FF0000;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:245px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u986_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:84px;
  height:8px;
}
#u986_seg1 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:-4px;
  width:8px;
  height:167px;
}
#u986_seg2 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:155px;
  width:104px;
  height:8px;
}
#u986_seg3 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:149px;
  width:20px;
  height:20px;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:82px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:598px;
  width:375px;
  height:50px;
  text-align:left;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:358px;
  word-wrap:break-word;
}
#u990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:803px;
  width:375px;
  height:667px;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:803px;
  width:375px;
  height:45px;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:816px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u995 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:890px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:1040px;
  width:375px;
  height:50px;
  text-align:left;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:9px;
  width:358px;
  word-wrap:break-word;
}
#u1000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:1089px;
  width:375px;
  height:50px;
  text-align:left;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:9px;
  width:358px;
  word-wrap:break-word;
}
#u1002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:1102px;
  width:63px;
  height:24px;
  font-size:10px;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:59px;
  word-wrap:break-word;
}
#u1004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:803px;
  width:375px;
  height:667px;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  word-wrap:break-word;
}
#u1006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:803px;
  width:375px;
  height:45px;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u1008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:816px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:525px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1010_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:94px;
  height:8px;
}
#u1010_seg1 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:-4px;
  width:8px;
  height:620px;
}
#u1010_seg2 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:608px;
  width:84px;
  height:8px;
}
#u1010_seg3 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:602px;
  width:20px;
  height:20px;
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:293px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:623px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1012_seg0 {
  border-width:0px;
  position:absolute;
  left:-39px;
  top:-4px;
  width:39px;
  height:8px;
}
#u1012_seg1 {
  border-width:0px;
  position:absolute;
  left:-39px;
  top:-4px;
  width:8px;
  height:499px;
}
#u1012_seg2 {
  border-width:0px;
  position:absolute;
  left:-39px;
  top:487px;
  width:39px;
  height:8px;
}
#u1012_seg3 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:481px;
  width:20px;
  height:20px;
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:-85px;
  top:238px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
