body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1470px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u13730 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:961px;
  width:170px;
  height:50px;
  font-size:16px;
}
#u13731 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:166px;
  word-wrap:break-word;
}
#u13732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u13732 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:90px;
  width:170px;
  height:50px;
  font-size:16px;
}
#u13733 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:166px;
  word-wrap:break-word;
}
#u13734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u13734 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:90px;
  width:80px;
  height:50px;
  font-size:16px;
}
#u13735 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
#u13736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u13736 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:80px;
  width:170px;
  height:70px;
  font-size:16px;
}
#u13737 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:166px;
  word-wrap:break-word;
}
#u13738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u13738 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:961px;
  width:80px;
  height:50px;
  font-size:16px;
}
#u13739 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:76px;
  word-wrap:break-word;
}
#u13740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u13740 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:881px;
  width:170px;
  height:210px;
  font-size:16px;
}
#u13741 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u13742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u13742 {
  border-width:0px;
  position:absolute;
  left:979px;
  top:961px;
  width:80px;
  height:50px;
  font-size:16px;
}
#u13743 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
#u13744_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u13744 {
  border-width:0px;
  position:absolute;
  left:1179px;
  top:959px;
  width:100px;
  height:54px;
  font-size:16px;
}
#u13745 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u13746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u13746 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:1141px;
  width:170px;
  height:210px;
  font-size:16px;
}
#u13747 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:166px;
  word-wrap:break-word;
}
#u13748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u13748 {
  border-width:0px;
  position:absolute;
  left:1189px;
  top:1221px;
  width:80px;
  height:50px;
  font-size:16px;
}
#u13749 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
#u13750_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u13750 {
  border-width:0px;
  position:absolute;
  left:1144px;
  top:1421px;
  width:170px;
  height:80px;
  font-size:16px;
}
#u13751 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:166px;
  word-wrap:break-word;
}
#u13752 {
  border-width:0px;
  position:absolute;
  left:1019px;
  top:1011px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u13752_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:134px;
}
#u13752_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:115px;
  width:20px;
  height:20px;
}
#u13753 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:57px;
  width:100px;
  word-wrap:break-word;
}
#u13754 {
  border-width:0px;
  position:absolute;
  left:1104px;
  top:1246px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u13754_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:89px;
  height:8px;
}
#u13754_seg1 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-10px;
  width:20px;
  height:20px;
}
#u13755 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13756 {
  border-width:0px;
  position:absolute;
  left:1229px;
  top:1271px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u13756_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:154px;
}
#u13756_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:135px;
  width:20px;
  height:20px;
}
#u13757 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:67px;
  width:100px;
  word-wrap:break-word;
}
#u13758 {
  border-width:0px;
  position:absolute;
  left:1059px;
  top:986px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u13758_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:124px;
  height:8px;
}
#u13758_seg1 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:-10px;
  width:20px;
  height:20px;
}
#u13759 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u13760 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:986px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u13760_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u13760_seg1 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:-10px;
  width:20px;
  height:20px;
}
#u13761 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13762 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:986px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u13762_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u13762_seg1 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-10px;
  width:20px;
  height:20px;
}
#u13763 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u13764 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:90px;
  width:80px;
  height:50px;
  font-size:16px;
}
#u13765 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
#u13766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u13766 {
  border-width:0px;
  position:absolute;
  left:1180px;
  top:88px;
  width:100px;
  height:54px;
  font-size:16px;
}
#u13767 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u13768 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:115px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u13768_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u13768_seg1 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-10px;
  width:20px;
  height:20px;
}
#u13769 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13770 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:115px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u13770_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u13770_seg1 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-10px;
  width:20px;
  height:20px;
}
#u13771 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13772 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:115px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u13772_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:144px;
  height:8px;
}
#u13772_seg1 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:-10px;
  width:20px;
  height:20px;
}
#u13773 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u13774 {
  border-width:0px;
  position:absolute;
  left:1269px;
  top:1246px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u13774_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u13774_seg1 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-264px;
  width:8px;
  height:268px;
}
#u13774_seg2 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-264px;
  width:54px;
  height:8px;
}
#u13774_seg3 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-270px;
  width:20px;
  height:20px;
}
#u13775 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-133px;
  width:100px;
  word-wrap:break-word;
}
#u13776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u13776 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:240px;
  width:170px;
  height:100px;
  font-size:16px;
}
#u13777 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:166px;
  word-wrap:break-word;
}
#u13778 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:140px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u13778_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:104px;
}
#u13778_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:85px;
  width:20px;
  height:20px;
}
#u13779 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:42px;
  width:100px;
  word-wrap:break-word;
}
#u13780 {
  border-width:0px;
  position:absolute;
  left:1085px;
  top:290px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u13780_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:149px;
  height:8px;
}
#u13780_seg1 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:-148px;
  width:8px;
  height:152px;
}
#u13780_seg2 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:-153px;
  width:20px;
  height:20px;
}
#u13781 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u13782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u13782 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:420px;
  width:170px;
  height:100px;
  font-size:16px;
}
#u13783 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:166px;
  word-wrap:break-word;
}
#u13784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u13784 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:445px;
  width:80px;
  height:50px;
  font-size:16px;
}
#u13785 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u13786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u13786 {
  border-width:0px;
  position:absolute;
  left:1380px;
  top:420px;
  width:90px;
  height:100px;
  font-size:16px;
}
#u13787 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:86px;
  word-wrap:break-word;
}
#u13788 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:340px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u13788_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:84px;
}
#u13788_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:65px;
  width:20px;
  height:20px;
}
#u13789 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13790 {
  border-width:0px;
  position:absolute;
  left:1085px;
  top:470px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u13790_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:109px;
  height:8px;
}
#u13790_seg1 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:-10px;
  width:20px;
  height:20px;
}
#u13791 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13792 {
  border-width:0px;
  position:absolute;
  left:1270px;
  top:470px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u13792_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:114px;
  height:8px;
}
#u13792_seg1 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:-10px;
  width:20px;
  height:20px;
}
#u13793 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u13794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u13794 {
  border-width:0px;
  position:absolute;
  left:955px;
  top:580px;
  width:90px;
  height:100px;
  font-size:16px;
}
#u13795 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:86px;
  word-wrap:break-word;
}
#u13796 {
  border-width:0px;
  position:absolute;
  left:1230px;
  top:495px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u13796_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:139px;
}
#u13796_seg1 {
  border-width:0px;
  position:absolute;
  left:-185px;
  top:131px;
  width:189px;
  height:8px;
}
#u13796_seg2 {
  border-width:0px;
  position:absolute;
  left:-190px;
  top:125px;
  width:20px;
  height:20px;
}
#u13797 {
  border-width:0px;
  position:absolute;
  left:-75px;
  top:127px;
  width:100px;
  word-wrap:break-word;
}
#u13798 {
  border-width:0px;
  position:absolute;
  left:1425px;
  top:420px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u13798_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-44px;
  width:8px;
  height:44px;
}
#u13798_seg1 {
  border-width:0px;
  position:absolute;
  left:-199px;
  top:-44px;
  width:203px;
  height:8px;
}
#u13798_seg2 {
  border-width:0px;
  position:absolute;
  left:-199px;
  top:-44px;
  width:8px;
  height:69px;
}
#u13798_seg3 {
  border-width:0px;
  position:absolute;
  left:-205px;
  top:10px;
  width:20px;
  height:20px;
}
#u13799 {
  border-width:0px;
  position:absolute;
  left:-160px;
  top:-48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13800 {
  border-width:0px;
  position:absolute;
  left:955px;
  top:630px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u13800_seg0 {
  border-width:0px;
  position:absolute;
  left:-599px;
  top:-4px;
  width:599px;
  height:8px;
}
#u13800_seg1 {
  border-width:0px;
  position:absolute;
  left:-599px;
  top:-490px;
  width:8px;
  height:494px;
}
#u13800_seg2 {
  border-width:0px;
  position:absolute;
  left:-605px;
  top:-495px;
  width:20px;
  height:20px;
}
#u13801 {
  border-width:0px;
  position:absolute;
  left:-592px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u13802 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:90px;
  width:80px;
  height:50px;
}
#u13803 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:76px;
  word-wrap:break-word;
}
#u13804 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:115px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u13804_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:134px;
  height:8px;
}
#u13804_seg1 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:-10px;
  width:20px;
  height:20px;
}
#u13805 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13806 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:115px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u13806_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:114px;
  height:8px;
}
#u13806_seg1 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:-10px;
  width:20px;
  height:20px;
}
#u13807 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u13808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u13808 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:230px;
  width:105px;
  height:70px;
  font-size:16px;
}
#u13809 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:101px;
  word-wrap:break-word;
}
#u13810 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:140px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u13810_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:94px;
}
#u13810_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:75px;
  width:20px;
  height:20px;
}
#u13811 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:37px;
  width:100px;
  word-wrap:break-word;
}
#u13812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u13812 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:961px;
  width:80px;
  height:50px;
}
#u13813 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u13814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u13814 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:1097px;
  width:105px;
  height:70px;
  font-size:16px;
}
#u13815 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:101px;
  word-wrap:break-word;
}
#u13816 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:1011px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u13816_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:90px;
}
#u13816_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:71px;
  width:20px;
  height:20px;
}
#u13817 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:35px;
  width:100px;
  word-wrap:break-word;
}
#u13818 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:986px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u13818_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:87px;
  height:8px;
}
#u13818_seg1 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:-10px;
  width:20px;
  height:20px;
}
#u13819 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13820 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:986px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u13820_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:150px;
  height:8px;
}
#u13820_seg1 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:-10px;
  width:20px;
  height:20px;
}
#u13821 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
